.thumbnail img {
	object-fit: cover;
	max-height: 200px;
	width: 100%;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
<<<<<<< HEAD

=======
img{
  max-width: 200px;
  height: 270px;
}
>>>>>>> origin/master
